{% load static %}
<head>
    <link href="{% static "css/recipient.css" %}" rel="stylesheet">
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
</head>
<body>
    <h1>О компании</h1>
    <p>Наша компания посвящена предоставлению высококачественных продуктов и услуг нашим клиентам. Мы стремимся к инновациям, качеству и удовлетворению потребностей наших клиентов.</p>
    <p>Мы гордимся своим опытом работы в данной отрасли и нашими достижениями. Наша команда состоит из высококвалифицированных специалистов, готовых помочь вам в решении ваших задач.</p>
    <p>Мы ценим каждого клиента и стремимся установить долгосрочные отношения с нашими партнерами. Спасибо, что выбрали нас!</p>
    <p>Дата основания: [дата]</p>
</body>
</html>
