{% load static %}
{% load cache %}
<head>
    <link href="{% static "css/vir.css" %}" rel="stylesheet">
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
</head>
<body>
    {% cache 600 object_list %}
        <h1>Политика конфиденциальности</h1>
        <p>Ваша конфиденциальность очень важна для нас. В данном документе мы объясним, какие типы персональной информации мы получаем и собираем, а также как мы используем эту информацию.</p>
        <h2>1. Сбор информации</h2>
        <p>Мы собираем информацию, когда вы отправляете ее нам через наш веб-сайт или его компоненты. Это может включать в себя информацию, которую вы предоставляете нам при регистрации на сайте, оформлении заказа, подписке на рассылку или заполнении формы.</p>
        <h2>2. Использование информации</h2>
        <p>Мы используем вашу информацию для улучшения нашего веб-сайта и предоставления вам более персонализированного опыта. Мы можем использовать собранную информацию, чтобы анализировать тенденции, администрировать сайт, отслеживать движение пользователей и собирать общие демографические сведения.</p>
        <h2>3. Раскрытие информации третьим лицам</h2>
        <p>Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам без вашего согласия, за исключением случаев, когда это необходимо для выполнения наших обязательств по предоставлению вам запрошенных продуктов или услуг.</p>
        <p>Это лишь краткое описание нашей политики конфиденциальности. Пожалуйста, ознакомьтесь с полной версией нашей политики конфиденциальности, чтобы получить более подробную информацию.</p>
        <p>Дата последнего обновления: [дата]</p>
    {% endcache %}
</body>
</html>
