{% load static %}
<head>
    <link href="{% static "css/vir.css" %}" rel="stylesheet">
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение</title>
</head>
<body>
    <h1>Пользовательское соглашение</h1>
    <p>Добро пожаловать на наш веб-сайт! Пожалуйста, ознакомьтесь с нашим пользовательским соглашением перед использованием нашего сайта.</p>
    <h2>1. Общие положения</h2>
    <p>При использовании нашего сайта вы соглашаетесь с нашими правилами и условиями.</p>
    <h2>2. Отказ от ответственности</h2>
    <p>Мы не несем ответственности за любые убытки или ущерб, возникшие в результате использования нашего сайта.</p>
    <h2>3. Изменения пользовательского соглашения</h2>
    <p>Мы оставляем за собой право вносить изменения в это пользовательское соглашение в любое время без предварительного уведомления.</p>
    <p>Пожалуйста, регулярно проверяйте эту страницу на обновления.</p>
    <p>Дата последнего изменения: [дата]</p>
</body>
</html>
