{% load static %}
<head>
    <link href="{% static "css/vir.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">
</head>

<body>
    <div class="center">
        <div class="login-form">
            <form method="post">
                <fieldset>
                    <h1>Авторизация</h1>
                    <input type="text" name="username" placeholder="Имя пользователя" class="username-input">
                    <input type="password" name="password" placeholder="Пароль" class="password-input">
                    {% csrf_token %}
                    <input type="submit" value="Войти" class="btn">
                </fieldset>
            </form>
            {% if form.errors %}
                <p>Ваше имя или пароль введены некорректно. Попробуйте снова.</p>
            {% endif %}
        </div>
    </div>
</body>