body {
    background-color: #1f2029;
}
.center {
    height: 100%;
    width: 50%; /* Устанавливаем ширину формы */
    margin: 0 auto; /* Центрируем форму по горизонтали */
    padding: 20px; /* Добавляем отступы для контента внутри формы */
}
.center form {
    width: 80%; /* Задаем ширину формы на 100%, чтобы она занимала всю доступную ширину родительского контейнера */
}