.photo {
    float: right; /* Фото выравнивается справа */
    margin-right: 20px; /* Расстояние между текстом и фото */
    margin-bottom: 20px;
}
.photo img {
    max-width: 400px;
    max-height: 400px;
}