{% load static %}
<head>
    <link href="{% static "css/recipient.css" %}" rel="stylesheet">
</head>

<style>
    body {
        background-color: #1f2029;
    }
</style>

<body>
    <div class="center">
        <form action="" method="post">
            {% csrf_token %}
            <h1>Оставить отзыв</h1>
            <p>{{ recipient.fullname }}</p>
            <p>Специальности: {{ recipient.specialities.all|join:', ' }}</p>
            <p>Оцените рецензента: {{ form.rate }}</p>
            <p>{{ form.original_review }}</p>
            <p>Оставить отзыв анонимно: {{ form.is_anonymous }}</p>
            <input type="submit" value="Оставить отзыв" class="btn">
        </form>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </ul>
    {% endif %}
</body>