{% load static %}
<head>
    <link href="{% static "css/recipient.css" %}" rel="stylesheet">
</head>

<style>
    .photo {
        float: right; /* Фото выравнивается справа */
        margin-right: 20px; /* Расстояние между текстом и фото */
        margin-bottom: 20px;
    }
    .photo img {
        max-width: 300px;
        max-height: 300px;
    }
</style>

<body>
    <div class="wrapper">
        <div class="left_content">
            <div id="content">
                <h1>Все обозреваемые</h1>
                {% if recipients %}
                    {% for recipient in recipients %}
                        <div class="content">
                            <div class="recipient-info">
                                <div class="photo">
                                    <img src="{{ recipient.photo.url }}" alt="Фото обозреваемого">
                                </div>
                                <div class="details">
                                    <h1><a href="{% url 'recipient_info' recipient.id %}">{{ recipient }}</a></h1>
                                    <a>Специальности обозреваемого: {{ recipient.specialities.all|join:', ' }}</a>
                                    <p>Стаж работы: {{ recipient.experience }} год</p>
                                    <p>Визитка: {{ recipient.description }}</p>
                                    <a><button onclick="window.location.href='{% url 'add_review' recipient.id %}'">Оставить честный отзыв</button></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>В данный момент обозреваемых нет</h1>
                {% endif %}
            </div>
        </div>
        <div class="side_wrapper">
            <div class="sidebar">
                <h1><a href="{% url 'base_page' %}">Основная страница</a></h1>
            </div>
        </div>
    </div>
</body>
