{% extends 'recipient/vir.html' %}
{% load static %}
{% load cache %}
{% block content %}
    <link href="{% static "css/recipient.css" %}" rel="stylesheet">
    <link href="{% static "css/card.css" %}" rel="stylesheet">
    <div class="wrapper">
        <div class="left_content">
            <div id="content">
                <div class="recipient-info">
                    <div class="photo">
                        <img src="{{ recipient.photo.url }}" alt="Фото обозреваемого">
                    </div>
                    <div class="details">
                        <h1>{{ recipient }}</h1>
                        <a>Специальности обозреваемого: {{ recipient.specialities.all|join:', ' }}</a>
                        <p>Стаж работы: {{ recipient.experience }} год</p>
                        <p>Визитка: {{ recipient.description }}</p>
                        <a><button onclick="window.location.href='{% url 'add_review' recipient.id %}'">Оставить честный отзыв</button></a>
                         <p>
                             <a href="{% url "recipient_share" recipient.id %}">
                                Поделиться рецензентом
                             </a>
                         </p>
                    </div>
                </div>
                <h2>Отзывы об обозреваемом</h2>
                {% if recipient.reviews.all %}
                    {% for review in recipient.reviews.all %}
                        {% if review.is_published %}
                            <fieldset>
                                <p><<{{ review.modified_review }}>></p>
                                {% if review.is_anonymous %}
                                    <p>Отзыв оставил аноним и оценил на {{ review.rate }} звезд</p>
                                {% else %}
                                    <p>Отзыв оставил {{ review.user }} и оценил на {{ review.rate }} звезд</p>
                                {% endif %}
                            </fieldset>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>На данный момент отзывов об обозреваемом нет</p>
                {% endif %}
            </div>
<!--            <div class="product-card">-->
<!--                <div class="product-card-inner">-->
<!--                    <div class="product-card-front">-->
<!--                        <img src="product-image.jpg" alt="Product Image">-->
<!--                        <h2>Product Name</h2>-->
<!--                        <p>$19.99</p>-->
<!--                    </div>-->
<!--                    <div class="product-card-back">-->
<!--                        <h2>Product Details</h2>-->
<!--                        <p>This is a great product that you will love!</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="side_wrapper">
            <div class="sidebar">
                <h1><a href="{% url 'base_page' %}">Основная страница</a></h1>
            </div>
        </div>
    </div>
{% endblock %}