{% load static %}
<head>
    <link href="{% static "css/recipient.css" %}" rel="stylesheet">
</head>

<style>
    #content {
        width: 65vw;
    }
</style>

<body>
    <div class="wrapper">
        <div class="left_content">
            <div id="content">
                {% if query %}
                    <h1>Подходящие рецензенты "{{ query }}"</h1>
                    {% for recipient in results %}
                        <h1><a href="{% url 'recipient_info' recipient.id %}">{{ recipient }}</a></h1>
                        <a>Специальности обозреваемого: {{ recipient.specialities.all|join:', ' }}</a>
                        <p>Стаж работы: {{ recipient.experience }} год</p>
                        <p>Визитка: {{ recipient.description }}</p>
                    {% endfor %}
                {% else %}
                    <h1>Нет подходящих рецензентов</h1>
                {% endif %}
            </div>
        </div>
        <div class="side_wrapper">
            <div class="sidebar">
                <h1><a href="{% url 'base_page' %}">Основная страница</a></h1>
            </div>
            <div class="sidebar">
                <h1>Поиск рецензентов</h1>
                <form method="get">
                    <p>Введите имя рецензента</p>
                    {{ form.query }}
                    <input type="submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</body>