{% extends 'recipient/vir.html' %}
{% load static %}
{% load cache %}
{% block content %}
    <link href="{% static "css/search.css" %}" rel="stylesheet">
    <div class="wrapper">
        <div class="left_content">
            <div id="content">
                {% if query %}
                    <h1>Подходящие рецензенты "{{ query }}"</h1>
                    {% for recipient in results %}
                        <div class="recipient-info">
                            <div class="photo">
                                <img src="{{ recipient.photo.url }}" alt="Фото обозреваемого">
                            </div>
                                <div class="details">
                                <h1><a href="{% url 'recipient_info' recipient.id %}">{{ recipient }}</a></h1>
                                <a>Специальности обозреваемого: {{ recipient.specialities.all|join:', ' }}</a>
                                <p>Стаж работы: {{ recipient.experience }} год</p>
                                <p>Визитка: {{ recipient.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1>Нет подходящих рецензентов</h1>
                {% endif %}
            </div>
        </div>
        <div class="side_wrapper">
            <div class="sidebar">
                <h1><a href="{% url 'base_page' %}">Основная страница</a></h1>
            </div>
            <div class="sidebar">
                <h1>Поиск рецензентов</h1>
                <form method="get">
                    <p>Введите имя рецензента</p>
                    {{ form.query }}
                    <input type="submit" value="Поиск">
                </form>
            </div>
        </div>
    </div>
{% endblock %}