{% extends 'recipient/vir.html' %}
{% load static %}
{% load cache %}
{% block content %}
    <link href="{% static "css/self_cabinet.css" %}" rel="stylesheet">
    <div class="wrapper">
        <div class="left_content">
            <div id="content">
                <h1>Персональные данные</h1>
                <p>Имя пользователя: {{ user.username }}</p>
                <p>Имя: {{ user.first_name }}</p>
                <p>Фамилия: {{ user.last_name }}</p>
                <p>Почта: {{ user.email }}</p>
                <p>Дата создания аккаунта: {{ user.date_joined }}</p>
                <h1>Ваши отзывы</h1>
                {% if reviews %}
                    {% for review in reviews %}
                        {% if review.is_published %}
                            <fieldset>
                                <h2>Отзыв на <a href="{% url 'recipient_info' review.recipient.id %}">{{ review.recipient }}</a></h2>
                                <a>Специальности доктора: {{ review.recipient.specialities.all|join:', ' }}</a>
                                <p>Дата публикации отзыва: {{ review.time_create }}</p>
                                <p>{{ review }}</p>
                                <p>Доктор оценен на {{ review.rate }} звезд</p>
                            </fieldset>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>На данный момент отзывов оставленных вами нет</p>
                {% endif %}
            </div>
        </div>
        <div class="side_wrapper">
            <div class="sidebar">
                <h1><a href="{% url 'base_page' %}">Основная страница</a></h1>
                <a href="{% url 'not_published_reviews' %}">Отзывы для модерации</a>
                <p><a href="{% url "logout" %}">Выйти</a></p>
            </div>
        </div>
    </div>
{% endblock %}